@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float-1 {
  0% {
    transform: translate(0, 0) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

@keyframes float-2 {
  0% {
    transform: translate(0, 0) scale(0.9);
  }
  25% {
    transform: translate(-40px, 30px) scale(1.1);
  }
  75% {
    transform: translate(20px, -20px) scale(1);
  }
  100% {
    transform: translate(0, 0) scale(0.9);
  }
}

@keyframes float-3 {
  0% {
    transform: translate(0, 0) scale(1.1);
  }
  50% {
    transform: translate(40px, 40px) scale(0.9);
  }
  100% {
    transform: translate(0, 0) scale(1.1);
  }
}

@keyframes float-4 {
  0% {
    transform: translate(0, 0) scale(0.95);
  }
  40% {
    transform: translate(-30px, -40px) scale(1.1);
  }
  80% {
    transform: translate(40px, 20px) scale(1);
  }
  100% {
    transform: translate(0, 0) scale(0.95);
  }
}

@keyframes float-5 {
  0% {
    transform: translate(0, 0) scale(1.05);
  }
  45% {
    transform: translate(40px, -30px) scale(0.95);
  }
  90% {
    transform: translate(-20px, 40px) scale(1.1);
  }
  100% {
    transform: translate(0, 0) scale(1.05);
  }
}

@keyframes float-6 {
  0% {
    transform: translate(0, 0) scale(1);
  }
  30% {
    transform: translate(-40px, 20px) scale(1.1);
  }
  60% {
    transform: translate(30px, -40px) scale(0.9);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animate-float-1 {
  animation: float-1 18s ease-in-out infinite;
}
.animate-float-2 {
  animation: float-2 20s ease-in-out infinite;
}
.animate-float-3 {
  animation: float-3 22s ease-in-out infinite;
}
.animate-float-4 {
  animation: float-4 21s ease-in-out infinite;
}
.animate-float-5 {
  animation: float-5 19s ease-in-out infinite;
}
.animate-float-6 {
  animation: float-6 23s ease-in-out infinite;
}

